<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

    <header>
        <% include ../partials/header %>
    </header>

    <main>
      
         <div class="jumbotron">
             <h3>My favorite Movies</h3>
             <ul>
                <li><%= movies.movie1 %></li>
                <li><%= movies.movie2 %></li>
                <li><%= movies.movie3 %></li>
                <li><%= movies.movie4 %></li>
             </ul>

         </div>   
       
    
    </main>
    <footer>
        <% include ../partials/footer %>
    </footer>
    
    </body>
</html>