<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

    <header>
        <% include ../partials/header %>
    </header>

    <main>
      
         <div class="jumbotron">
             <h3>My favorite TVshows</h3>
             <ul>
                <li><%= tvshows.tvshow1 %></li>
                <li><%= tvshows.tvshow2 %></li>
                <li><%= tvshows.tvshow3 %></li>
                <li><%= tvshows.tvshow4 %></li>
             </ul>

         </div>   
       
    
    </main>
    <footer>
        <% include ../partials/footer %>
    </footer>
    
    </body>
</html>